/* пропишем основные точки останова */
@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .films__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 30px;
    }
}
@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header__nav {
        padding: 25px /* (29-4px) */ 0;
    }

    .header__menu {
        display: flex;
    }

    .header__menu:focus + /* (обращение к соседнему элементу в index.html) */ .header__list {
        left: 0;
    }

    .header__list {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: -100%;
        width: 200px;
        background: rgba(1, 3, 5, 0.80); 
        backdrop-filter: blur(15px);
        text-align: center;
        transition: 500ms linear;
    }

    .banner {
        height: 80vh;
    }

    .banner__title {
        font-size: 50px;
        text-align: center;
    }

    .banner__btns{
        justify-content: center;
    }

    .films__title {
       margin: 0 auto 30px;
    }
    .films__cards {
        grid-template-columns: 1fr; /* 1 колонка  с шириной 1fr */
    }
}
@media(max-width: 576px) {
    .container {
        max-width: auto;
    }
    
    .banner__title {
        font-size: 35px;
    }
    
    .banner__btns {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .films {
        padding: 30px 0;
    }

}