@import url(./font.css);
/* @import "./font.css"; можно так */

:root /* (псевдокласс) */ {
    --linkHover: #ED8E00;
    --btnBg: #F18128;
    --btnHover: #040D1F;
    --bodyBg: #040D1F;
    --title: #F18128;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar { /* отвечает за саму белую линию не за ползунок */
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-corner { /* отвечает за уголочек нижни в правой стороне */
    background: var(--title);
}

*::-webkit-scrollbar-thumb { /* сам ползунок */
    background: var(--title);
    border-radius: 3px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    /* при наведении на кнопки появляется пальчик */
    cursor: pointer;
}

body {
    font-family: 'Comfortaa';
    background: var(--bodyBg);
}

.container {
    max-width: 1143px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    width: 166px; /* когда ширина такая маленькая, в пределах 200px, то ширину можно указывать фиксированную без maxwidth, так как мы не будемп ширину уменьшать настолько узко, кнопка всегда будем оставаться нетронутой, так что можно оставлять фиксированную */
    padding: 17px 48px;
    background: var(--btnBg); 
    border-radius: 4px;
    /* для кнопок свойство text-align не нужно, но для текста justify дает: каждая строчка начинается с левой стороны и заканчивается прям на самой грани, получается ровный прямоугольник. ОН добавляет отступы между словами таким образом, чтобы последнее слово заканчивалось ровно на границе.
    text-align: justify;  */
    color: black; font-size: 14px; 
    font-family: 'Roboto'; 
    font-weight: 500; 
    /* line height не может быть меньше font size, в этом случае указываем 100% */
    line-height: 100%; 
    box-shadow: 0 0 10px 0 var(--btnHover);
    transition: 500ms;
}

.btn:hover {
    background: var(--btnHover);
    box-shadow: 0 0 10px 0 var(--btnBg);
    color: white;
}

.title {
    color: #F18128; 
    font-size: 36px; 
    font-weight: 400; 
    line-height: 100%;
    text-transform: capitalize; 
    width: max-content; /* теперь он занимает ту ширину, которая необходимо для его содержимого  */
    position: relative; /* чтобы псевдоэлемент за пределы заголовка никуда не улетел */
}

.title::after {
    content: '';
    /* псевдоэлементы по умолчанию строчные */
    display: block;
    height: 2px;
    width: 100%; /* 100% от заголовка и будет занимать всю ширину родителя (контейнера)  */
    /* тег h1, h2, h3 блочные элементы, они занимают всю ширину родителя (контейнера). */
    position: absolute; 
    bottom: 0;
    /* чтобы раскрывалось от центра в обе стороны */
    left: 50%;
    width: 0; /* останется невидимым до тех пор пока не наведем курсор на (контейнер)  */
}
/* до этой строчки были созданы (прописаны) базовые стилевые свойства */

.ads {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    background: linear-gradient(90deg, #3800AF 0%, #BF7204 98%, #C27500 100%, #C27500 100%);
}

.ads__text {
    color: white; 
    font-size: 16px; 
    font-weight: 400;
    line-height: 100%;
    max-width: 166px;
    width: 100%;
}

.header {
    position: sticky; /* весь остальной контент будет проходить под ним, под навигационной панелью */
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__nav {
    background: rgba(1, 3, 5, 0.80); 
    backdrop-filter: blur(15px);
    position: relative;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
}

.header__logo span {
    color: white; 
    font-size: 18px; 
    font-weight: 700;
    line-height: 100%;
    font-family: 'Comfortaa';
}

.header__menu {
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.header__menu span {
    height: 8px;
    width: 100%;
    background: white;
    border-radius: 3px;
    transition: 500ms linear;
}

.header__menu:focus span {
    background: var(--linkHover);
}

.header__menu:hover span {
    background: var(--linkHover);
}

.header__menu:focus span:nth-child(1) {
    transform: rotate(45deg) translateY(20px) translateY(-11px) translateX(20px) translateX(-11px);
}

.header__menu:focus span:nth-child(2) {
    transform: rotate(-45deg);
    opacity: 0;
}

.header__menu:focus span:nth-child(3) {
    transform: rotate(-45deg) translateY(-20px) translateY(11px) translateX(20px) translateX(-11px);
}


.header__list {
    display: flex;
    column-gap: 18px;
}

.header__link {
    color: white; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 400;
    line-height: 100%;
    padding: 43px 6px /* (30px - 2*6=18px) */;  
    text-transform: capitalize;
    display: block;
    transition: 500ms;
    position: relative;
}

.header__link::after {
    content: ''; 
    display: block;
    height: 2px;
    background: #ED8E00; 
    border-top-left-radius: 23px; 
    border-top-right-radius: 10px;
    position: absolute; /* (чтобы выбить из потока) */
    bottom: 0;
    left: 50%; /* по умолчанию он будет начинаться ровно от середины */
    width: 0;
    transition: 500ms linear;
    
}

.header__link:hover:after { /* псевдоэлемент after пишется без пробелов */
    width: 100%;
    left: 0; /* при наведении на ссылку псевдоэлемент встанет на место */
}

.header__link:hover {
    color: var(--linkHover);
}

.banner {
    height: 100vh; /* как обычно */
    position: relative;
    display: flex; /* его мы даем родителю, чтобы элементы, еоторые находятся внутри него и не имеют фиксированной высоты, чтобы они растягивались на всю высоту */
    /* height: 100%; */ /* тот же самы эффект, что и display: flex дает ; */
}

.banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner::after { /* псевдоэлемент ко всей секции */
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(7, 15, 25, 0.75);
    position: absolute; /* его тоже нужно выбивать с потока с основного */
    top: 0;
    left: 0;
    z-index: -1; /* утопить под элементы */
}

.banner__img { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2; /* на один уровень ниже чем background темный */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__title {
    color: white; 
    font-size: 64px; 
    font-family: 'Montserrat'; 
    font-weight: 700; 
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.banner_desc {
    text-align: justify; 
    color: #C8C8C8; 
    font-size: 16px; 
    font-family: 'Montserrat'; 
    font-weight: 400; 
    line-height: 150%; 
    max-width: 570px;
    width: 100%;
    margin-bottom: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.banner__btns {
    display: flex;
    column-gap: 30px;
}